/* CSS */

.container-animationfour {
  text-align: center;
  padding: 20px;
  background-color: #f3f4f6;
  width: 900px;
  height: 500px;
  margin: auto;
  position: relative;
}

h2 {
  color: #333;
}

.search-container {
  margin-bottom: 15px;
}

.search-bar {
  width: 380px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #4a90e2;
  border-radius: 20px;
  outline: none;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.video {
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  opacity: 1;
}

.selected-video {
  transform: scale(1.3);
  position: relative;
  z-index: 10;
}

.visible-video {
  opacity: 1;
}

.tick-mark {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: white;
  display: none;
}

.selected-video .tick-mark {
  display: block;
}
